.footer {
    width: 100%;
    display: inline-block;
    display: flex;
    align-items: center;

}

.footer img {
    vertical-align: middle;
    border-radius: 50%;
}

.footer h1 {
    display: inline-block;
    vertical-align: middle;
    flex-grow: 1;
    text-align: center;
}

.link {
    display: flex;
    gap: 60px;
}

.link a {
    font-size: 30px;
    text-decoration: none;
    color: black;
}

.link a:hover {
    color: crimson;

}

.body {
    text-align: center;
}

.body img {
    border-radius: 50%;
    box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.3);
}

.body p {
    font-size: 30px;
}

.body h3 {
    font-size: 50px;
}

.body ol {
    font-size: 20px;
    text-align: start;
}

.body ol li:hover {
    color: blue;
}